{% extends 'base.html.twig' %}

{% block title %}New Movie{% endblock %}
{% block navbar %}{% endblock %}

{% block body %}

{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col">
            <b>Movie Title</b>
             {{ form_row(form.mov_title) }}
        </div>
        <div class="col">
            <b>Year</b>
             {{ form_row(form.mov_year) }}
        </div>
    </div>
    <div class="row" style="margin-bottom:2em">
        <div class="col">
            <b>Poster</b>
            {{ form_row(form.mov_poster) }}
        </div>
    </div>
    <div class="row" style="margin-bottom:2em">
        <div class="col">
            <b>Description</b>
            {{ form_row(form.mov_desc) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}
